@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-base-size: 1rem;
  --font-scale-ratio: 1.4;

  /* slate-50 */
  --color-text: oklch(0.268 0.007 34.298);
  /* stone-800 */
  --color-background: oklch(0.984 0.003 247.858);
  /* indigo-800 */
  --color-link-active: oklch(0.398 0.195 277.366);

  --font-size-sm: calc(var(--font-base-size) / var(--font-scale-ratio));
  --font-size-md: var(--font-base-size);
  --font-size-lg: calc(var(--font-size-md) * var(--font-scale-ratio));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-scale-ratio));
  --font-size-2xl: calc(var(--font-size-xl) * var(--font-scale-ratio));
  --font-size-3xl: calc(var(--font-size-2xl) * var(--font-scale-ratio));
  --font-size-4xl: calc(var(--font-size-2xl) * var(--font-scale-ratio));

  --space-unit: 1rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1 * var(--space-unit));
  --space-lg: calc(1.5 * var(--space-unit));
  --space-xl: calc(2 * var(--space-unit));
  --space-2xl: calc(3.25 * var(--space-unit));
  --space-3xl: calc(5.25 * var(--space-unit));

  --border-radius-sm: 5px;
  --border-radius-md: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: var(--space-lg);
  max-width: 50rem;
  line-height: 1.7;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-link-active);
}

h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: var(--font-size-2xl);
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 0;
}
h2 {
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 1.5;
}
h3 {
  font-weight: 400;
  margin-top: var(--space-md);
  margin-bottom: var(--space-xxs);
  line-height: 1.3;
}
h4 {
  font-weight: 400;
  margin-bottom: var(--space-sm);
}

ul {
  list-style: none;
  li {
    margin-bottom: var(--space-xs);
  }
}

a {
  &:hover {
    color: var(--color-link-hover);
  }
}

p {
  line-height: 1.5;
  margin-bottom: var(--space-md);
}

.header {
  margin-block: var(--space-xl);
  text-align: center;

  p {
    font-size: var(--font-size-md);
    font-weight: 400;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
  }
}

.columns {
  display: flex;
  flex: row;
  gap: var(--space-md);
}

.column {
  flex: 1;
  overflow: hidden;
  min-width: 35%;
  padding: var(--space-md);

  &:nth-of-type(1) {
    border-right: 2px solid var(--color-text);
  }
}

.contact ul {
  li {
    background-size: 1rem;
    padding-left: var(--space-lg);

    &:nth-child(1) {
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWdsb2JlLWljb24gbHVjaWRlLWdsb2JlIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwYXRoIGQ9Ik0xMiAyYTE0LjUgMTQuNSAwIDAgMCAwIDIwIDE0LjUgMTQuNSAwIDAgMCAwLTIwIi8+PHBhdGggZD0iTTIgMTJoMjAiLz48L3N2Zz4=)
        no-repeat left center;
      background-size: 1rem;
    }

    &:nth-child(2) {
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW1haWwtaWNvbiBsdWNpZGUtbWFpbCI+PHBhdGggZD0ibTIyIDctOC45OTEgNS43MjdhMiAyIDAgMCAxLTIuMDA5IDBMMiA3Ii8+PHJlY3QgeD0iMiIgeT0iNCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjE2IiByeD0iMiIvPjwvc3ZnPg==)
        no-repeat left center;
      background-size: 1rem;
    }

    &:nth-child(3) {
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXBob25lLWljb24gbHVjaWRlLXBob25lIj48cGF0aCBkPSJNMTMuODMyIDE2LjU2OGExIDEgMCAwIDAgMS4yMTMtLjMwM2wuMzU1LS40NjVBMiAyIDAgMCAxIDE3IDE1aDNhMiAyIDAgMCAxIDIgMnYzYTIgMiAwIDAgMS0yIDJBMTggMTggMCAwIDEgMiA0YTIgMiAwIDAgMSAyLTJoM2EyIDIgMCAwIDEgMiAydjNhMiAyIDAgMCAxLS44IDEuNmwtLjQ2OC4zNTFhMSAxIDAgMCAwLS4yOTIgMS4yMzMgMTQgMTQgMCAwIDAgNi4zOTIgNi4zODQiLz48L3N2Zz4=)
        no-repeat left center;
      background-size: 1rem;
    }
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
}
